<style type="text/css">
a:link,a:visited	{ text-decoration: none; color: {LINK} }
a:hover			{ text-decoration: underline }
body			{ scrollbar-base-color: {ALTBG1}; scrollbar-arrow-color: {BORDERCOLOR}; font-size: {FONTSIZE}; {BGCODE} }
table			{ font-family: {FONT}; color: {TABLETEXT}; font-size: {FONTSIZE} }
textarea,input,object	{ font-family: {FONT}; font-size: {FONTSIZE};  color: {TABLETEXT}; font-weight: normal; background-color: {ALTBG1} }
select			{ font-family: {SMFONT}; font-size: {SMFONTSIZE};  color: {TABLETEXT}; font-weight: normal; background-color: {ALTBG1} }
.nav			{ font-family: {FONT}; font-size: {FONTSIZE}; font-weight: {BOLD} }
.navtd			{ font-family: {FONT}; font-size: {FONTSIZE}; color: {HEADERTEXT}; text-decoration: none }
.header			{ font-family: {FONT}; font-size: {SMFONTSIZE}; color: {HEADERTEXT}; font-weight: {BOLD}; {HEADERBGCODE} }
.category		{ font-family: {SMFONT}; font-size: {SMFONTSIZE}; color: {CATTEXT}; {CATBGCODE} }
.tableborder		{ background: #D6E0EF; font-size: {SMFONTSIZE}; border: 1px solid {BORDERCOLOR}}
.pgheader		{ font-family: {FONT}; font-size: {SMFONTSIZE}; color: #FFFFFF; font-weight: {BOLD}; {HEADERBGCODE}}
.pgnumbg		{ background: {ALTBG1}; font-size: {SMFONTSIZE};}
.pgnum			{ background: {ALTBG2}; font-size: {SMFONTSIZE};}
.multi			{ font-family: {SMFONT}; font-size: {SMFONTSIZE}; color: {LINK}; }
.smalltxt		{ font-family: {SMFONT}; font-size: {SMFONTSIZE} }
.mediumtxt		{ font-family: {FONT}; font-size: {FONTSIZE}; color: {TEXT} }
.bold			{ font-weight: {BOLD} }
</style>