{template header}
<table cellspacing="0" cellpadding="0" border="0" width="{TABLEWIDTH}" align="center" style="table-layout: fixed"> 
<tr><td class="nav" width="90%" nowrap>&nbsp;<a href="index.php">$bbname</a> &raquo; {lang getpassword}</td>
<td align="right" width="10%"><a href="#bottom"><img src="{IMGDIR}/arrow_dw.gif" border="0" align="absmiddle"></a></td>        
</tr></table><br>

<form method="post" action="member.php?action=getpasswd&id=$id">
<table cellspacing="0" cellpadding="0" border="0" width="{TABLEWIDTH}" align="center">
<tr><td bgcolor="{BORDERCOLOR}">

<table border="0" cellspacing="{BORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%">
<tr class="header">
<td colspan="2">{lang getpassword}</td>
</tr>

<tr bgcolor="{ALTBG1}">
<td width="21%">{lang username}:</td>
<td>$username</td>
</tr>

<tr bgcolor="{ALTBG1}">
<td width="21%">{lang new_password}:</td>
<td><input type="text" name="newpasswd1" size="25"></td>
</tr>

<tr bgcolor="{ALTBG2}">
<td>{lang new_password_confirm}:</td>
<td><input type="text" name="newpasswd2" size="25"><br>
</tr>

</table>
</td></tr></table><br>
<center><input type="submit" name="getpwsubmit" value="{lang submit}"></center>
</form>
</table></td></tr></table>
{template footer}