{template header}
{template memcp_navbar}
<table cellspacing="0" cellpadding="0" border="0" width="{TABLEWIDTH}" align="center">
<tr><td bgcolor="{BORDERCOLOR}">
<table border="0" cellspacing="{BORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%">
<tr>
<td bgcolor="{ALTBG1}" align="center" class="smalltxt">
<span class="bold">{lang memcp_welcome}</span>
<br><br>
<table cellspacing="0" cellpadding="0" border="0" width="{TABLEWIDTH}" align="center">
<tr><td bgcolor="{BORDERCOLOR}">

<table border="0" cellspacing="{BORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%">
<tr class="header">
<td colspan="4">{lang memcp_info}¡G</td>
</tr>

<tr>
<td bgcolor="{ALTBG1}" width="15%">{lang username}¡G</td>
<td bgcolor="{ALTBG2}" width="35%">$discuz_userss</td>
<td bgcolor="{ALTBG1}" width="15%">{lang credit_title}¡G</td>
<td bgcolor="{ALTBG2}" width="35%">$credit {lang credit_unit}</td>
</tr>
<tr>
<td bgcolor="{ALTBG1}" valign="top">{lang status}¡G</td>
<td bgcolor="{ALTBG2}" valign="top">$status - $grouptitle</td>
<td bgcolor="{ALTBG1}" valign="top">{lang avatar}¡G</td>
<td bgcolor="{ALTBG2}">$avatar</td>
</tr>
</table>
</td></tr></table>
</td>
</tr>

</table>
</td></tr></table><br>

<form name="buddyaa" method="post" action="memcp.php?action=buddylist">
<table border="0" cellspacing="0" cellpadding="0" width="{TABLEWIDTH}" align="center">
<tr><td>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td valign="top" align="left"><table cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
<tr><td bgcolor="{BORDERCOLOR}" width="20%">

<table border="0" cellspacing="{BORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%">
<tr>
<td class="header">{lang memcp_buddylist}</td>
</tr>
<tr><td bgcolor="{ALTBG1}">
<table border="0" cellspacing="{BORDERWIDTH}" cellpadding="{TABLESPACE}" width="98%">
<tr>
<td bgcolor="{ALTBG2}" align="center" colspan="3" class="smalltxt"><span class="bold">{lang online}</span></td>
</tr>

<!--{loop $buddyonline $buddy}-->
	<tr bgcolor="{ALTBG1}" onMouseOver="this.style.backgroundColor='{ALTBG2}'" onMouseOut="this.style.backgroundColor='{ALTBG1}'">
	<td width="15" align="center"><a href="pm.php?action=send&username=$buddy[buddyenc]" target="_blank"><img src="{IMGDIR}/buddy_sendpm.gif" border="0" alt="{lang pm_send}"></a></td>
	<td align="center"><a href="viewpro.php?username=$buddy[buddyenc]" target="_blank">$buddy[buddy]</a></td>
	<td width="15" align="center"><a href="memcp.php?action=buddylist&delete=$buddy[buddyenc]"><img src="{IMGDIR}/buddy_delete.gif" border="0" alt="{lang memcp_buddylist_remove}"></a></td></tr>
<!--{/loop}-->

<tr>
<td bgcolor="{ALTBG2}" align="center" colspan="3" class="smalltxt"><span class="bold">{lang offline}</span></td>
</tr>

<!--{loop $buddyoffline $buddy}-->
	<tr bgcolor="{ALTBG1}" onMouseOver="this.style.backgroundColor='{ALTBG2}'" onMouseOut="this.style.backgroundColor='{ALTBG1}'">
	<td width="15" align="center"><a href="pm.php?action=send&username=$buddy[buddyenc]" target="_blank"><img src="{IMGDIR}/buddy_sendpm.gif" border="0" alt="{lang pm_send}"></a></td>
	<td align="center"><a href="viewpro.php?username=$buddy[buddyenc]" target="_blank">$buddy[buddy]</a></td>
	<td width="15" align="center"><a href="memcp.php?action=buddylist&delete=$buddy[buddyenc]"><img src="{IMGDIR}/buddy_delete.gif" border="0" alt="{lang memcp_buddylist_remove}"></a></td></tr>
<!--{/loop}-->

</table>
<tr>
<td bgcolor="{ALTBG2}" align="center">
<input type="text" name="buddy" size="10"> <input type="submit" name="buddysubmit" value="{lang memcp_buddylist_add}">
</td>
</tr>

</table>
</td></tr></table></form></td>
<td width="10"></td>
<td align="right" valign="top" width="80%">
<table cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
<tr><td bgcolor="{BORDERCOLOR}">

<table border="0" cellspacing="{BORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%">
<tr class="header">
<td colspan="3">{lang memcp_last_5_pm}</td>
</tr>
<tr class="category">
<td width="55%" align="center">{lang subject}</td>
<td width="20%" align="center">{lang from}</td>
<td width="25%" align="center">{lang time}</td>
</tr>

<!--{if $msgexists}-->
	<!--{loop $msglist $message}-->
		<tr>
		<td bgcolor="{ALTBG2}" onMouseOver ="this.style.backgroundColor='{ALTBG1}'" onMouseOut ="this.style.backgroundColor='{ALTBG2}'">
		<a href="pm.php?action=view&pmid=$message[pmid]" target="_blank">$message[subject]</a></td>
		<td bgcolor="{ALTBG1}" align="center">$message[msgfrom]</td>
		<td bgcolor="{ALTBG2}" align="center" class="smalltxt">$message[dateline]</td>
		</tr>
	<!--{/loop}-->
<!--{else}-->
	<tr><td bgcolor="{ALTBG1}" colspan="4">{lang memcp_nopm}
	</td></tr>
<!--{/if}-->

</table>
</td></tr></table>
<br>
<table cellspacing="0" cellpadding="0" border="0" width="100%"
align="center">
<tr><td bgcolor="{BORDERCOLOR}">

<table border="0" cellspacing="{BORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%">
<tr class="header">
<td colspan="5">{lang memcp_last_5_subs}</td>
</tr>
<tr class="category">
<td width="52%" align="center">{lang subject}</td>
<td width="18%" align="center">{lang forum}</td>
<td width="8%" align="center">{lang replies}</td>
<td width="22%" align="center">{lang lastpost}</td>
</tr>

<!--{if $subsexists}-->
	<!--{loop $subslist $subs}-->
		<tr>
		<td bgcolor="{ALTBG1}" width="5%" align="center"><!--{if $subs[icon]}--><img src="{SMDIR}/$subs[icon]"><!--{else}-->&nbsp;<!--{/if}--></td>
		<td bgcolor="{ALTBG2}" onMouseOver ="this.style.backgroundColor='{ALTBG1}'" onMouseOut ="this.style.backgroundColor='{ALTBG2}'"><a href="viewthread.php?tid=$subs[tid]">$subs[subject]</a></td>
		<td bgcolor="{ALTBG1}" align="center"><a href="forumdisplay.php?fid=$subs[fid]">$subs[name]</a></td>
		<td bgcolor="{ALTBG2}" align="center">12</td>
		<td bgcolor="{ALTBG1}" align="center">
		<table cellpadding="0" cellspacing="0" border="0" width="100%"><tr align="right">
		<td class="smalltxt" nowrap>$subs[lastpost]<br>
		by <!--{if $subs[lastposter] != 'Guest'}--><a href="viewpro.php?username=$subs[lastposterenc]">$subs[lastposter]</a><!--{else}-->{lang guest}<!--{/if}-->
		</td><td nowrap>&nbsp;<a href="redirect.php?tid=$subs[tid]&goto=lastpost$highlight"><img src="{IMGDIR}/lastpost.gif" border="0"></a>
		</td></tr></table></td>
		</tr>
	<!--{/loop}-->
<!--{else}-->
	<tr><td bgcolor="{ALTBG1}" colspan="6">{lang memcp_nosubs}</td></tr>
<!--{/if}-->

</table>
</td></tr></table><br><br>
</td></tr>
</table>
</td></tr>
</table>
{template footer}