<form method="post" action="pm.php?action=delete&folder=$folder">
<table cellspacing="0" cellpadding="0" border="0" width="99%">
<tr><td bgcolor="{BORDERCOLOR}">
<table border="0" cellspacing="{BORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%">
<tr align="center" class="header"><td width="45"><input type="checkbox" name="chkall" class="header" onclick="checkall(this.form)">{lang delete_check}</td>
<td width="50%">{lang subject}</td><td><!--{if $folder != 'outbox' && $folder != 'track'}-->{lang from}<!--{else}-->{lang to}<!--{/if}--></td>
<td>{lang time}</td></tr>
<!--{loop $pmlist $pm}-->
	<tr>
	<td bgcolor="{ALTBG1}" align="center"><input type="checkbox" name="delete[]" value="$pm[pmid]"></td>
	<td bgcolor="{ALTBG2}" onMouseOver ="this.style.backgroundColor='{ALTBG1}'" onMouseOut ="this.style.backgroundColor='{ALTBG2}'"><a href="pm.php?action=view&folder=$folder&pmid=$pm[pmid]">$pm[subject]</a></td>
	<td bgcolor="{ALTBG1}" align="center">
	<!--{if $folder == 'inbox'}-->
		<a href="viewpro.php?username=$pm[msgfromenc]">$pm[msgfrom]</a>
	<!--{else}-->
		<a href="viewpro.php?username=$pm[msgtoenc]">$pm[msgto]</a>
	<!--{/if}-->
	</td><td bgcolor="{ALTBG2}" align="center"><span class="smalltxt">$pm[dateline]</span></td>
	</tr>
<!--{/loop}-->
</table></td></tr>
<tr class="multi"><td>$multipage</td></tr>
</table><br><center><input type="submit" value="{lang submit}"></center>
</form>