<table cellspacing="0" cellpadding="0" border="0" width="99%" align="center">
<tr>
<td bgcolor="{BORDERCOLOR}">

<table border="0" cellspacing="{BORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%">
<tr>
<td  class="header" colspan="2">$pm[subject]</td>
</tr>

<tr>
<td bgcolor="{ALTBG1}">{lang from}:</td>
<td bgcolor="{ALTBG2}"><a href="viewpro.php?username=$pm[msgfromenc]">$pm[msgfrom]</a></td>
</tr>

<tr>
<td bgcolor="{ALTBG1}">{lang to}:</td>
<td bgcolor="{ALTBG2}"><a href="viewpro.php?username=$pm[msgtoenc]">$pm[msgto]</a></td>
</tr>

<tr>
<td bgcolor="{ALTBG1}">{lang time}:</td>
<td bgcolor="{ALTBG2}">$pm[dateline]</td>
</tr>

<tr>
<td valign="top" bgcolor="{ALTBG1}" width="15%">{lang message}:</td>
<td bgcolor="{ALTBG2}">$pm[message]</td>
</tr>

<tr>
<td bgcolor="{ALTBG2}" height="1" colspan="2"></td>
</tr>

<tr>
<td bgcolor="{ALTBG1}" colspan="2">
<a href="###" onclick="history.go(-1);">{lang return}</a> - 
<!--{if $folder == 'inbox'}-->
	<a href="pm.php?action=send&pmid=$pmid&do=reply">{lang reply}</a> - 
<!--{/if}-->
<a href="pm.php?action=send&pmid=$pmid&do=forward">{lang forward}</a> - 
<a href="pm.php?action=download&pmid=$pmid">{lang download}</a> - 
<a href="pm.php?action=delete&folder=$folder&pmid=$pmid">{lang delete}</a>
</td>
</tr>

</table>
</center></div></td>
</tr>
</table>