<!--{if $discuz_user}-->
	<tr><td bgcolor="{ALTBG1}">{lang username}:</td>
	<td bgcolor="{ALTBG2}">$discuz_userss <span class="smalltxt">[<a href="logging.php?action=logout">{lang member_logout}</a>]</span></td>
	</tr>
<!--{else}-->
	<tr><td bgcolor="{ALTBG1}">{lang username}:</td>
	<td bgcolor="{ALTBG2}" class="smalltxt"><input type="text" name="username" tabindex="1" size="25" maxlength="25" value="$username"> &nbsp;<a href="register.php">{lang register_now}</a></td>
	</tr><tr>
	<td bgcolor="{ALTBG1}">{lang password}:</td>
	<td bgcolor="{ALTBG2}" class="smalltxt"><input type="password" name="password" tabindex="2" size="25" value="$password"> &nbsp;<a href="member.php?action=lostpasswd">{lang getpassword}</a></td>
	</tr>
<!--{/if}-->
