<table cellspacing="0" cellpadding="0" border="0" width="{TABLEWIDTH}" align="center">
<tr><td bgcolor="{BORDERCOLOR}">
<table border="0" cellspacing="{BORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%">
<tr class="header"><td colspan="2">{lang post_previewpost}</td></tr>
<tr bgcolor="{ALTBG1}">
<td rowspan="2" valign="top" width="20%"><span class="bold">$author</span><br><br></td>
<td class="smalltxt">$thread[icon] $currtime</td></tr>
<tr bgcolor="{ALTBG1}"><td>
<table height="100%" width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed; word-wrap: break-word">
<tr><td><span class="bold"><span class="smalltxt">$subject_preview</span></span><br><br>$message_preview</td></tr></table></td></tr>
</table></td></tr></table><br>
