{template header}
<table cellspacing="0" cellpadding="0" border="0" width="{TABLEWIDTH}" align="center" style="table-layout: fixed"> 
<tr><td class="nav" width="90%" nowrap>&nbsp;<a href="index.php">$bbname</a> &raquo; {lang stats}</td>
<td align="right" width="10%"><a href="#bottom"><img src="{IMGDIR}/arrow_dw.gif" border="0" align="absmiddle"></a></td>        
</tr></table><br>

<table cellspacing="0" cellpadding="0" border="0" width="{TABLEWIDTH}" align="center">
<tr><td bgcolor="{BORDERCOLOR}">
<table border="0" cellspacing="{BORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%">
<tr><td class="header">{lang stats}
</td></tr><tr bgcolor="{ALTBG1}"><td>

<br><table cellspacing="0" cellpadding="0" border="0" width="85%" align="center">
<tr><td bgcolor="{BORDERCOLOR}"><table border="0" cellspacing="{BORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%">
<tr bgcolor="{ALTBG2}"><td align="center" class="smalltxt">
<a href="stats.php">[ {lang stats_main} ]</a> &nbsp; <a href="stats.php?type=week">[ {lang stats_week} ]</a> &nbsp; 
<a href="stats.php?type=hour">[ {lang stats_hour} ]</a> &nbsp; <a href="stats.php?type=agent">[ {lang stats_agent} ]</a> &nbsp; 
<a href="stats.php?type=threads">[ {lang stats_threads} ]</a> &nbsp; <a href="stats.php?type=member">[ {lang stats_members} ]</a></td></tr>
</table></td></tr></table><br>

<!--{if $type == 'week'}-->
	<br><table cellspacing="0" cellpadding="0" border="0" width="85%" align="center">
	<tr><td bgcolor="{BORDERCOLOR}">
	<table border="0" cellspacing="{BORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%" class="smalltxt">
	<tr bgcolor="{ALTBG2}"><td><span class="bold">{lang stats_week}:</span><br>
	<table border="0" cellspacing="0" cellpadding="{TABLESPACE}" width="610" class="smalltxt">
	$statsbar_week
	</table></td></tr></table></td></tr></table><br>
<!--{elseif $type == 'hour'}-->
	<br><table cellspacing="0" cellpadding="0" border="0" width="85%" align="center">
	<tr><td bgcolor="{BORDERCOLOR}">
	<table border="0" cellspacing="{BORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%" class="smalltxt">
	<tr bgcolor="{ALTBG2}"><td><span class="bold">{lang stats_hour}:</span><br>
	<table border="0" cellspacing="0" cellpadding="{TABLESPACE}" width="610" class="smalltxt">
	$statsbar_hour
	</table></td></tr></table></td></tr></table><br>
<!--{elseif $type == 'agent'}-->
	<br><table cellspacing="0" cellpadding="0" border="0" width="85%" align="center">
	<tr><td bgcolor="{BORDERCOLOR}">
	<table border="0" cellspacing="{BORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%" class="smalltxt">
	<tr bgcolor="{ALTBG2}"><td><span class="bold">{lang stats_os}:</span><br>
	<table border="0" cellspacing="0" cellpadding="{TABLESPACE}" width="610" class="smalltxt">
	$statsbar_os
	</table></td></tr></table></td></tr></table>

	<br><table cellspacing="0" cellpadding="0" border="0" width="85%" align="center">
	<tr><td bgcolor="{BORDERCOLOR}">
	<table border="0" cellspacing="{BORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%" class="smalltxt">
	<tr bgcolor="{ALTBG2}"><td><span class="bold">{lang stats_browser}:</span><br>
	<table border="0" cellspacing="0" cellpadding="{TABLESPACE}" width="610" class="smalltxt">
	$statsbar_browser
	</table></td></tr></table></td></tr></table><br>
<!--{/if}-->

</td></tr></table></td></tr></table>
{template footer}