{template header}
<table cellspacing="0" cellpadding="0" border="0" width="{TABLEWIDTH}" align="center" style="table-layout: fixed"> 
<tr><td class="nav" width="90%" nowrap>&nbsp;<a href="index.php">$bbname</a> $navigation &raquo; {lang admin_merge}</td>
<td align="right" width="10%"><a href="#bottom"><img src="{IMGDIR}/arrow_dw.gif" border="0" align="absmiddle"></a></td>        
</tr></table><br>

<form method="post" action="topicadmin.php?action=merge">
<table cellspacing="0" cellpadding="0" border="0" width="{TABLEWIDTH}" align="center">
<tr><td bgcolor="{BORDERCOLOR}">

<table border="0" cellspacing="{BORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%">
<tr>
<td class="header" colspan="2">{lang admin_merge}</td>
</tr>

<tr>
<td bgcolor="{ALTBG1}" width="21%">{lang username}:</td>
<td bgcolor="{ALTBG2}">$discuz_userss  <span class="smalltxt">[<a href="logging.php?action=logout">{lang member_logout}</a>]</span></td>
</tr>

<tr>
<td bgcolor="{ALTBG1}">{lang admin_merge_tid}:</td>
<td bgcolor="{ALTBG2}" class="smalltxt"><input type="text" name="othertid" size="10">
&nbsp; &nbsp;{lang admin_merge_tid_comment}</td>
</tr>

</table>
</td></tr></table><br>
<input type="hidden" name="fid" value="$fid">
<input type="hidden" name="tid" value="$tid">
<center><input type="submit" name="mergesubmit" value="{lang admin_merge}"></center>
</form>
{template footer}